<h2 class="center"> User Data for <%= user.name%></h2>
<table class="table">
    <tbody>
        <tr>
            <td>Name:</td>
            <td>
                <%= user.name.first %>
                <%= user.name.first %>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <%= user.email %>
            </td>
        </tr>
        <tr>
            <td>zip Code:</td>
            <td>
                <%= user.zipCode %>
            </td>
        </tr>
        <tr>
            <td>Num of Courses</td>
            <td><%= user.courses.length %></td>
        </tr>
    </tbody>
</table>